html {
  background: #111;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#root {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 100px;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
